# Introduccion a Pandas

El analisis exploratorio se usa para i obtener un resumen que describa los datos. Generalmente se usa como etapa previa para otros tipos de analisis y generalmente se usan histogramas y graficos que muestren la relacion entre las distintas variables. Al mismo tiempo, nos interesa

In [1]:
import pandas as pd
pd.__version__

'1.0.4'

In [2]:
data_teams = {'year': 
        [2010 , 2011 , 2012 ,
        2010 , 2011 , 2012 ,
        2010 , 2011 , 2012],
        'team': [
        'Rangers','Rangers',
        'Rangers','Colo Colo',
        'Colo Colo','Colo Colo',
        'Universidad de Chile','Universidad de Chile',
        'Universidad de Chile'],
        'wins':[30 , 28 , 32 , 29 , 32 , 26 , 21 , 17 , 19] ,
        'draws':[6 , 7 , 4 , 5 , 4 , 7 , 8 , 10 , 8] ,
        'losses': [2 , 3 , 2 , 4 , 2 , 5 , 9 , 11 , 11]
        }

df = pd.DataFrame(data_teams ,columns=data_teams.keys())

In [3]:
df.tail()

   year                  team  wins  draws  losses
4  2011             Colo Colo    32      4       2
5  2012             Colo Colo    26      7       5
6  2010  Universidad de Chile    21      8       9
7  2011  Universidad de Chile    17     10      11
8  2012  Universidad de Chile    19      8      11

In [394]:
df.dtypes

year       int64
team      object
wins       int64
draws      int64
losses     int64
dtype: object

In [395]:
df['team'] = df['team'].astype('category')
df['year']=pd.to_datetime(df['year'], format='%Y')

In [396]:
df['team'].unique()

[Rangers, Colo Colo, Universidad de Chile]
Categories (3, object): [Rangers, Colo Colo, Universidad de Chile]

In [397]:
df_talca=df[df['team']=='Rangers']

In [400]:
df_talca['team']

0    Rangers
1    Rangers
2    Rangers
Name: team, dtype: category
Categories (3, object): [Colo Colo, Rangers, Universidad de Chile]

In [ ]:
df.dtypes

year      datetime64[ns]
team            category
wins               int64
draws              int64
losses             int64
dtype: object

La tabla ``df`` se encuentra indexada mediante un objeto del tipo ``pd.Index`` que nos sirve para acceder a los registros individuales.

In [ ]:
print(df.index)

RangeIndex(start=0, stop=9, step=1)

In [ ]:
df[df.index==0]

        year     team  wins  draws  losses
0 2010-01-01  Rangers    30      6       2

In [ ]:
df.iloc[0]

year      2010-01-01 00:00:00
team                  Rangers
wins                       30
draws                       6
losses                      2
Name: 0, dtype: object

In [ ]:
df[0:2]

        year     team  wins  draws  losses
0 2010-01-01  Rangers    30      6       2
1 2011-01-01  Rangers    28      7       3

In [ ]:
sum_data=df.groupby('year').sum()

In [ ]:
print(sum_data)

            wins  draws  losses
year
2010-01-01    80     19      15
2011-01-01    77     21      16
2012-01-01    77     19      18

In [ ]:
sum_data.index

DatetimeIndex(['2010-01-01', '2011-01-01', '2012-01-01'], dtype='datetime64[ns]', name='year', freq=None)